* {
  box-sizing: border-box;
}

/*Colors used:
Primary Color (Navy Blue):#013691;
Secondary Color (Dodger Blue):#388AF5;
Accent Color 1(Dark Turquoise):#34C8D9;
Accent Color 2(Pastel Yellow):#FAF2A1;*/
header {
  background-color: #013691;
  padding: 10px;
  margin: 10px;
}

#logo {
  max-width: 150px;
  max-height: 80px;
  display: inline-block;
}

main {
  padding-top: 56px;
  width: 90%;
  margin: auto;
}

footer {
  width: 90%;
  margin: auto;
}

.fa-bars {
  font-size: 25px;
}


body {
  background-color: #fdfeff;
  font-family: 'calibri', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  /* No underlining*/
}

a:hover {
  color: white;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #fff;
}

nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #ffffff;
}

nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    transition: 0.2s opacity;
}

nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    transition: 0.2s opacity;
}

.navtoggle li:not(:last-child) {
    display: none;
    padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 30px;
    padding-right: 0.3em;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #fff;
}

#phone-link{
  color:black;
}

a:visited {
  /* visited link */
  color: white;
}

.button {
  display: inline-block;
  background-color: #013691;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #013691;
  transition: 0.2s opacity;
}

a.button {
  color: white;
}

.button:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  clear: both;
  display: table;
}

.columns {
  background-color: transparent;
  border: 1px dotted black;
  padding: 0px 20px;
}

.columns .header {
  padding: 50px;
  text-align: center;
  background-color: #013691;
  color: white;
}

.columns .project {
  background-color: inherit;
  padding: 10px;
}

.col-sml-12 {
  width: 100%;
}

.center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.fab {
  font-size: 50px;
}

.social-media {
  color: black;
}

.social-media a {
  margin-right: 30px;
  color: black;
}

.portfile-picture img {
  width: 20%;
}
/* === Medium Devices (641px and larger) === */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  .col-md-6 {
    width: 50%;
  }

  .row {
    display: flex;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: inherit;
  }

  nav>ul>li {
    display: inline-block;
    position: relative;
  }

  .col-lg-7 {
    width: 60%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .col-lg-5 {
    width: 40%;
  }

  .row {
    display: flex;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .navtoggle li:last-child {
    display: none;
  }
}
